body{
    margin: 0;
}

.lista{
    display: grid;
    grid-template-columns: repeat(9, 100px);
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-family: 'roboto';
}
.items:nth-of-type(4){
    grid-column: 4/ span 2;
}
.items{
    list-style: none;
}
.items a{
    text-decoration: none;
    color: #8CD21F;
}
.items img{
    width: 65%;
}
.container{
    padding: 20px 0;
    background: #F2EFDE;
}
.descripcion{
    font-family: 'roboto';
    text-align: center;
    color: #352B12;
    font-size: 30px;
    margin: 60px 0;
}
.conoce-mas{
    font-size: 16px;
    color: #352B12;
    display: block;
}
.btn{
    FONT-FAMILY: 'ROBOTO';
    background: #8CD21F;
    color: white;
    border: 0;
    padding: 10px 30px;
    font-size: 15px;
    margin-top: 25px;
}
.mision{
    text-align: center;
    background: #F2EFDE;
    padding: 70px 0;
}
.mision p{
    font-size: 30px;
    font-family: roboto;
    color: #352B12;
}
.img-mision{
    margin: 0 auto;
    width: 80%;
}
.img-mision img{
    max-width: 100%;
}
.titulo{
    margin: 20px 0;
    color: #B69A59;
    font-family: 'roboto';
    font-size: 50px;
}
.grid-images{
    display: grid;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: 1.1fr .9fr;
    column-gap: 40px;
} 
.grid-row{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 124px;
} 
/* .uno{
    grid-row: 1 / span 3;
    width: 100%;
}
.uno img{
    max-width: 90%;
}
.dos{

}
.tres{
    grid-row: 2 / span 2;
}
.grid-images figure{
    margin: 0;
}
.img-90{
    width: 90%;
    max-width: 90%;
} */
.imgrid{
    margin: 0;
    width: 100%;
}
.uno img{
    max-width: 85%;
    float: right;
}
.dos img{
    max-width: 85%;
    float: left;
}
.grid-images2{
    display: grid;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: .9fr 1.1fr;
    column-gap: 40px;
}