@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?10pcua');
  src:  url('../fonts/icomoon.eot?10pcua#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?10pcua') format('truetype'),
    url('../fonts/icomoon.woff?10pcua') format('woff'),
    url('../fonts/icomoon.svg?10pcua#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e906";
  right: 15px;
  font-size: 20px;
  position: absolute;
    top: 9px;
  /* position: absolute; */
}
.icon-apple:before {
  content: "\e900";
}
.icon-spotify:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}


  body{
      margin: 0;
      
  }

  .centrado{
      width: 100%;
      max-width: 1366px;
      margin: 0 auto;
  }
  .header{
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
  .logo-header{
      display: inline-block;
      width: 100%;
      max-width: 450px;
      margin: 0;
  }
  .logo-header img{
      width: 100%;
      display: block;
  }
  hr{
    border-top: 1px solid #494a4a;
    border-bottom: 1px solid #FFFFFF;
    width: 70%;
  }


  .menu {
      display: block;
      margin: 0;
      padding: 0; 
      text-align: center;
  }
  .ico-social {
    display: inline-block;
    margin: 0;
    padding: 0;
}
  .ico-social li{
      display: inline-block;
      color: gray;
      font-size: 33px;
      margin: 0 10px;
  }
  .ico-social a{
      color: #B7B7B7;
  }

  .navegacionHeader {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 30px 0;
  }
  .navegacionHeader li{
    display: inline-block;
    font-size: 30px;
    margin: 0 10px;
    font-family: 'Roboto';
    font-size: 25px;
  }
  .navegacionHeader a{
      color: black;
  }
  .menu a{
    text-decoration: none;
}

.herofull{
    display: block;
}
.herofull figure{
    margin: 0;

}
figure img{
    display: block;
    width: 100%;
}

.titulonoticias{
    text-align: center;
    margin-top: 30px;
    font-family: 'roboto';
}
h1{
    margin: 0
}
.noticias{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 33%;
    min-width: 300px;
}
.boxnew{
    width: 90%;
    max-width: 350px;
    min-width: 300px;
    margin: 25px auto;
    background: #FFFFFF;
}
figure{
    margin: 0;
}
p, span, h4, h2, h3, a{
  font-family: 'roboto';
}
.medrano-bose{
  font-family: 'roboto';
  font-size: 25px;
}

.footernoticias{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.btnnoticias{
  border: 3px solid #97D7BF;
  padding: 10px 20px;
  color: #97D7BF;
  text-decoration: none;
}

.musica{
  display: flex;
  /* text-align: center; */
  justify-content: space-around;
  width: 100%;
}
.portadaalbum{
  width: 100%;
  max-width: 400px;

}
.musicaopciones .musica-opciones a{
  width: 280px;
  text-decoration: none;
  color: black;
}
.musica-opciones{
  list-style: none;
  padding: 0;
  margin: 0;
}
.streamopciones{
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  padding-right: 100px;
  position: relative;
}
.musicareproductor{
  width: 100%;
  max-width: 400px;
}



footer{
  background: #414141;
  padding: 50px 0; 
  margin-top: 50px;
} 

.ocesa{
  width: 100%;
  text-align: center;
}
.figure-ocesa{
  width: 100%;
  max-width: 350px;
  display: inline-block;
}
.contenido{
  display: inline-block;
  max-width: 350px;
  text-align: justify;
  color: white;
}

.link-footer{
  display: inline-block;
  padding: 0;
  margin: 25px 0;
}
.link-footer li{
  display: inline-block;
  margin: 0 20px;
}
.linkwarner{
  color: white;
  text-decoration: none;
}
.link{
  color: #EEA2A0;
  text-decoration: underline;
}
.menu2{
  text-align: center;
}

/* musica */
.musicasection{
  width: 100%;
  display: block;
  margin-top: 30px;
}
.albumsection{
  width: 30%;
  display: inline-block; 
  margin-left: 31px;
  margin-bottom: 60px;
 
} 
.tituloalbum{
  margin-top: 10px;
}  
.titulocancion{
  display: block;
  margin-bottom: 5px;
} 
 
.añocancion{
   display: block;
   margin-bottom: 5px;
}       
.txtboton{
  display: block;
    background: #787677;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 176px;
}
.txtboton a{  
  text-decoration: none; 
  color: #BCBABB;  
}
  
.seccionfotos{
  background-size: cover;
  display: inline-block;
  margin: 30px;
}
.seccionfotos img{ 
  width: 350px; 
  object-fit: cover
}
.containerfotos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.titulofotos{
  margin-bottom: 40px;
} 
.cont-videos{
  height: 225px;
  width: 400px; 
  margin: 20px;
} 
.video{
  width: 100%;
  height: 100%;
}
.sectionvideos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boximg{
  width: 400px;
  margin: 0px 15px 15px 0px;
  height: 390px;
  float: left;
}
.cont-conquista{
  display: flex;
  width: 98%;
  margin: 0 auto;
  margin-top: 30px;
}
.parrafo-conquista{
  text-align: justify;
}
.metropolitan{
  font-size: 19px;
}
.guadalajara{
  font-size: 16px;
}