@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u0rfht');
  src:  url('../fonts/icomoon.eot?u0rfht#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u0rfht') format('truetype'),
    url('../fonts/icomoon.woff?u0rfht') format('woff'),
    url('../fonts/icomoon.svg?u0rfht#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple:before {
  content: "\e900";
}
.icon-spotify:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
